@model BookManagerApp.Models.Book
@{
    ViewBag.Title = "Delete Book";
}
<h2>Delete Book</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Title</h4>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Year:</strong> @Model.Year</p>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Books", new { id = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Yes, Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
